body{
    background-color: #E5E5E5;
}
.wrapper{
    margin:0 2.5%;
    min-width:700px;
    max-width: 1000px;
}
h3{
    font-size:24px;
    font-weight: 700;
    line-height: 28px;
}
.asterisk{
    color:red;
}
label{
    display:block;
    font-size:16px;
    font-weight:500;
    font-family: "Public Sans", sans-serif;
    line-height:140%;
    color: #171717;
    margin-bottom:5px;
}
input{
    font-size:16px;
    font-weight:400;
}
.form{
    display:flex;
    margin-top:2%;
    align-items: center;
}
.before-the-line{
    margin-bottom:3%;
}
.form div{
    width:50%;
}
select, input{
    width:80%;
    padding:8px 12px;
    border: 1px solid #ADADAD;
}
select{
    width:85%;
}
.application{
    width:50%;
}
.fake-select{
    background:url(./images/Vector.png);
    background-repeat:no-repeat;
    background-position: 99% 50%;
    background-color:white;
}
#application{
    color:#0050D8;
}
.purged{
    margin-top:auto;
}
#purged, #app-fee{
    width:auto;
}
#purged + label{
    display:inline-block;
}
h4{
    font-size:20px;
    font-weight: 700;
    line-height: 24px;
}
#child-sup{
    width:auto;
    margin-right:5px;
}
#child-sup + label{
    width:80%;
}
#child-sup + label , #app-fee + label{
    display:inline-block;
}
.maternity-sup{
    display:flex;
}
.fake-search{
    background:url(./images/search.png);
    background-repeat:no-repeat;
    background-position: 99% 50%;
    background-color:white;
    width:85%;
}
.owner{
    color:#0050D8;
}
button{
    padding:12px 16px;
    background:#0050D8;
    border-radius:4px;
    font-size:16px;
    font-weight: 700;
    color:#FFFFFF;
    margin-top:10px;
    margin-left:85%;
}