body{
  margin:0;
}
.field{
  width:1000px;
  margin:0 auto;
  padding:0;
  height: 700px;
  display:flex;
  justify-content: space-between;
  background:url(./images/field.jpg);
  background-size:cover;
}
.ball{
  height:50px;
  width:50px;
  position:absolute;
  top:320px;
  left:49%;
}
.center{
  width:100px;
  height: 100px;
  display:flex;
  justify-content: flex-end;
  align-self: center;
}
.football-gate-first{
  /* background-color: blue; */
  width:10%;
}
.football-gate-second{
  /* background-color: blue; */
  width:10%;
}
.scoreboard{
  margin:0 auto;
  width:20%;
  text-align: center;
  padding:15px 20px;
  border:1px solid black;
}