body{
    margin:0;
    font-family: 'Marcellus', serif;
    font-family: 'Marcellus SC', serif;
    background:#E5E5E5;
}
header{

    max-height:103px;
}
.blue{
    color:#3E45E8;
}
.yellow{
    color:#E8C23E;
}
.header{
    background:  no-repeat url(./images/image1.png) ;
    background-size: cover;
    height:803px;
    width:100%;
    display:flex;
   align-items: center;
}
.descr{
    box-sizing: border-box;
    padding-left:59px;
    margin:0 0 0 2em;
    font-size:48px;
    font-weight: 700;
    line-height: 76px;
    color:white;
    background: no-repeat url(./images/flag.png);
}
.descr h2{
    margin:0;   
}
.strong-Ukraine{
    font-size:40px;
    text-align: center;
}
.description{
    margin-left:40px;
    font-size:40px;
    height:63px;
}
h3{
    margin:40px 0 0 0;
}
.castles{
    display:flex;
    justify-content: space-between;
}
.castle{
    width:30%;
    margin:2em;
    border-radius: 45px 45px 30px 30px;
    box-shadow: 0px 4px 57px 3px #00000040;
}
.castle img{
    width:100%;
}
.footer{
    text-align: center;
}

h5{
    font-size:24px;    
    margin:16px 0 0 10px;
}
.castle p{
    font-size:20px;
    margin-left:10px;
    padding-bottom:30px;
}
.Ukraine-Win{
    display:block;
    margin: 20px auto 0 auto;
    font-size:40px;
}
.support-btn{
    background-color: #1E8DF2; 
    border: none;
    color: white;
    padding: 25px 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
}
footer{
    background: #2F4A4B;

}
footer p{
    color:#A89D9D;
    font-size:1.5em;
}
.line{
    width:402px;
    border-bottom:3px solid #3E45E8;
}
.second-line{
    width:40%;
    position:absolute;
    right:30%;
}
.ukraine-map{
    margin-top:40px;
}