<!-- 
    1. Среди трех чисел найти среднее арифметическое. Если среди чисел есть равные, вывести сообщение "Ошибка". Числа принять от пользователя.

    2. Построить прямоугольный треугольник состоящий из символа "*".

    3. Определить какое из трех, введенных пользователем, чисел максимальное и вывести его на экран.

    4. Дано два числа A и B где (A<B). 
    Выведите на экран суму всех чисел расположенных в числовом промежутке от А до В. 
    Выведите на экран все нечетные значения, расположенные в числовом промежутке от А до В. 


    5. Вывести на экран ряд чисел Фибоначчи, состоящий из n элементов (n принять от пользователя).
       Числа Фибоначчи – это элементы числовой последовательности, в которой каждое последующее число равно сумме двух предыдущих.

    6. Вывести на экран таблицу умножения от 0 до 9.   


    -->


    <script>
      //                              1 ЗАВДАННЯ
   var firstNumber = +prompt('Enter first number');
   var secondNumber = +prompt('Enter second number');
   var thirdNumber = +prompt('Enter third number');
   var average = (firstNumber + secondNumber + thirdNumber)/3;
   if(firstNumber == secondNumber|| firstNumber ==thirdNumber||secondNumber==thirdNumber){
      alert('Помилка');
   } else{
      document.write(`Середнє арифметичне число - ${average}`);
   }
  
     
      //                              2 ЗАВДАННЯ

   for(let i =0; i<10; i++){
      for(let j=0; j<i; j++){
         document.write('* ')
      }
      document.write('<br>');
   }
   
     //                              3 ЗАВДАННЯ
   var firstNumber = +prompt(`Введіть перше число`);
   var secondNumber = +prompt('Введіть друге число');
   var thirdNumber = +prompt('Введіть третє число');
   var biggestNumber = 0;
   if(firstNumber>secondNumber && firstNumber>thirdNumber){
      biggestNumber = firstNumber;
   } else if(secondNumber>firstNumber&& secondNumber>thirdNumber){
      biggestNumber = secondNumber;
   } else{
      biggestNumber = thirdNumber;
   }
   document.write(`${biggestNumber} - Найбільше число`);

   //                            4 ЗАВДАННЯ
   var firstNumber = +prompt(`Введіть перше число`);
   var secondNumber = +prompt('Введіть друге число');
   if(secondNumber <= firstNumber){
      alert('Перше число повинно бути меншим за друге');
   } else{
   for(let i=firstNumber; i<secondNumber -1; i++){ //secondNumber -1 & i+1, щоб не виводити перше і останнє число, а тільки числа між ними
      document.write(`${i + 1} `);
   }
      document.write('<br>')
}
   for(let j=firstNumber; j<secondNumber-1; j++){
      if(j%2 == 0){
         document.write(`
         ${j + 1} `)
      }
   }

  //                           5 ЗАВДАННЯ
var num1 = 0;
var num2 = 1;
var sum = 0;
var maxRange = +prompt('Число елементів?');  
for(let i=1; i<=maxRange; i++){
    sum = num1 + num2;
    num1 = num2;
    num2 = sum;
    document.write(`${num1} `);
}  

 //                           6 ЗАВДАННЯ

  for(let i=1; i<10; i++){
     for(let j=1; j<10; j++){
        document.write(`${i*j} `);
     }
     document.write('<br>');
  }
    </script>