body{
    margin:0;
    font-family:'Rosario';
    font-weight:700;
    max-width: 100%;
    overflow-x: hidden;

    
}
header{
    display:flex;
    justify-content: space-between;
    background-color: black;
    position:sticky;
    top:0;
    z-index: 1;
}
.icon{
    background:white;
}

ul{
    list-style:none;
    display:flex;
    justify-content: space-between;
    color:white;
    font-size:36px;
    align-items: center;
    gap:25px;
}
li:last-child{
    margin-right:25px;
}
.presentation{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top:2%;
    grid-gap:3%;
    align-items: center;
}
.present-left{
  margin-left:10%;  
   /* position:relative;
  left:-600px;  */
  /* transform: translate(-600px,0); */
  animation:appear 5s;

 
}
.left{
    animation:translationLeft 2s;
}
.right{
    animation:translationRight 2s;
}
.present-right{
   animation: appear 5s;
    
}
@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
@keyframes translationLeft {
     from{
         transform:translate(-300px,0);
     }
     to{
         
         transform: translate(0,0);
         transition-delay: 2s;
     }

}
@keyframes translationRight{
    from{
        transform:translate(300px,0)
    }
    to{
        transform:translate(0,0);
    }
}
.present-left img, .present-right img{
    height:50%;
    width:90%;
}
.present-centre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:3%;
}
.present-centre img{
    height:100%;
    width:100%;
}
.services{
    padding:3% 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:100vh;
    /* overflow: hidden; */
} 
.services-showdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.guy-standing img{
    height:100%;
    width:100%;
}
.services p{
    font-size:48px;
    font-style:italic;
}
.service img{
    height:90%;
    width:90%;
}
h2{
    font-size:96px;
    text-align: center;
}
.professionals-cards{
    display:flex;
    justify-content: space-between;
    width:80%;
    height:80vh;
    margin:5% 10%;
}
.professionals-card{
    display:flex;
    flex-direction: column;
    justify-content: end;
    margin-right:5%;
    width:50%;
    height:80%;
}
.professionals-card:last-child{
    margin-right:0;
}
.first-card{
    background: url(./images/expert1.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.second-card{
    background: url(./images/expert2.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.third-card{
    background: url(./images/expert3.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.fourth-card{
    background: url(./images/expert4.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.card-descr{
 background:#A3530AB2;
 color:white;
 display:flex;
 align-items:center;
 justify-content: center;
 flex-direction: column;
 border-bottom-right-radius: 32px;
 border-bottom-left-radius: 32px;
 height:15%;
 font-size:48px;
 font-weight: 400;
 opacity:0;
 transition:all 1s;
}

.professionals-cards:hover > .professionals-card  {
    filter: brightness(50%);
}
.professionals-card:hover .card-descr{
    opacity:1;
    filter: brightness(100%);
}
.professionals-cards .professionals-card:hover{
    filter:brightness(100%)
}
h3{
    font-size:64px;
    font-style:italic;
    text-align: center;
    margin:5px;
}
.contact{
    margin:0 10%;
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2%;
}
.form{
    background-color:#E5E5E5;
    height:70%;
}
input{
    width:45%;
    padding:12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin:2%;
    font-size:36px;
}
.longer{
    width:95%;
    padding-bottom:25%;
}
map{
    width:100%;
    height:100%;
}
iframe{
    width:100%;
    height:100%;
}
footer{
    margin-top:4%;
    display:flex;
    justify-content: space-around;
    text-align: center;
}
.footer-contact{
    display:flex;
    align-items: center;
    margin-left:10%;
}
.footer-contact img{
    margin-right:20px;
    display:block;
    width:50px;
    height:50px;
}
.footer-contact p{
    margin:0;
}
footer p{
    font-size:30px;
    font-weight: 600;
    line-height:35px;
}
strong{
    font-weight: 700;
}
h4{
    font-size:30px;
}
.connect-descr{
    margin-bottom:5%;
}

.first-service{
    animation:spinFirst 10s infinite;
}

@keyframes spinFirst{
    25%{
        transform:translate(100%,0)
    }
    50%{
        transform:translate(100%,120%)
    }
    75%{
        transform:translate(0,120%)
    }
    to{
        transform:translate(0,0);
    }
}
.second-service{
    animation:spinSecond 10s infinite;
}

@keyframes spinSecond{
    25%{
        transform:translate(0,-110%)
    }
    50%{
        transform:translate(100%,-110%)
    }
    75%{
        transform:translate(100%,0%)
    }
    to{
        transform:translate(0,-2%);
    }
}

.third-service{
    animation:spinThird 10s infinite;
}

@keyframes spinThird{
    25%{
        transform:translate(0, 115%)
    }
    50%{
        transform:translate(-95%,115%)
    }
    75%{
        transform:translate(-95%,0)
    }
    to{
        transform:translate(0,0);
    }
}
.fourth-service{
    animation:spinFourth 10s infinite;
}
@keyframes spinFourth{
    25%{
        transform:translate(-95%, 0)
    }
    50%{
        transform:translate(-95%,-110%)
    }
    75%{
        transform:translate(0,-110%)
    }
    to{
        transform:translate(0,0);
    }
}
a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
a{
    color:inherit;
    text-decoration: none;
}
@media (min-width: 1600px) {
    @keyframes spinFirst{
        25%{
            transform:translate(135%,0)
        }
        50%{
            transform:translate(135%,110%)
        }
        75%{
            transform:translate(0,110%)
        }
        to{
            transform:translate(0,0);
        }
    }
    
    @keyframes spinSecond{
        25%{
            transform:translate(0,-110%)
        }
        50%{
            transform:translate(135%,-110%)
        }
        75%{
            transform:translate(135%,0)
        }
        to{
            transform:translate(0,0);
        }
    }
        
    @keyframes spinThird{
        25%{
            transform:translate(0, 110%)
        }
        50%{
            transform:translate(-135%,110%)
        }
        75%{
            transform:translate(-135%,0)
        }
        to{
            transform:translate(0,0);
        }
    }
   
    @keyframes spinFourth{
        25%{
            transform:translate(-135%, 0)
        }
        50%{
            transform:translate(-135%,-110%)
        }
        75%{
            transform:translate(0,-110%)
        }
        to{
            transform:translate(0,0);
        }
    }
}

@media (max-width:1600px) {
    .services p{
        font-size:36px;
    }
}