body{
    font-family: "Work Sans", sans-serif;
    margin:0;
    overflow-x: hidden;
}
.container{
    background-color: #FFB084;
   
}
.blocks{
    width:90%;
    margin:0 5%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr)
}
.block{
    border: 1px solid black;
    border-radius:20px;
    background-color:#FFFFFF;
    margin:20px;
}
.bold{
    font-weight: 600;
}
h2{
    font-weight:700;
    font-size:24px;
}
.bolder{
    font-weight: 700;
}
.age-info{
    display:flex;
    /* justify-content: center; */
    gap:20px;
}
.block p{
    margin-left:20px;
    margin-right:20px;
}
.block img{
    margin:0 40%;
}
.block h2{
    text-align: center;
}
.green-text{
    color:#29A71E;
}
.red-text{
    color:#E13535;
}
.blue-text{
    color:#3675B0;
}
.black{
    box-shadow: 7px 7px 0px 0px #000000;
}
.green{
    box-shadow: 7px 7px 0px 0px #29A71E;
}
.blue{
    box-shadow: 7px 7px 0px 0px #3675B0;
}
.red{
    box-shadow: 7px 7px 0px 0px #E13535;
}
.bio{
    grid-column:2/4;
}
.bio p{
    font-weight: 400;
}
.intro{
    grid-row:1/4;
}
.aspiration{
    grid-row:4;
}
.companies{
    grid-row:3/5;
    grid-column:2;
}
.frustrations{
    grid-column:3;
    grid-row:2/4;
}