.cards{
display:grid;
grid-template-columns: 1fr 1fr;
grid-gap:15px;
width:90%;
margin:0 5%;
}

.card{
    text-align: center;
    background-color:#f0bc71;
    border:20px solid rgb(48, 24, 24);
    margin-left:15px;
    width: 80%;
    padding: 20px 0;
}