body {
  background: #212529;
  margin: 0;
}
header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 25px 5%;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
li {
  margin-right: 25px;
}
button {
  background-color: #ffb742;
  padding: 12px 26px;
  border: 2px solid #ffb742;
  border-radius: 50px;
  width: 120px;
  height: 54px;
  font-size: 18px;
}
li:hover {
  color: #ffb742;
}
.introduction {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
}
.introduction h3 {
  font-size: 32px;
}
.introduction h1 {
  font-size: 48px;
}
.introduction p {
  font-size: 24px;
}
.name {
  color: #ffb742;
  text-decoration: underline;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 8% 10%;
}

.card {
  width: 32%;
  background-color: #292b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.card-content > div:first-child {
  color: #ffb742;
  font-size: 32px;
}

.card-content > div:last-child {
  color: #ffffff;
  font-size: 16px;
}
.card:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
}
.card:hover .card-content > div:first-child,
.card:hover .card-content > div:last-child {
  color: #212529;
}
.about-me {
  display: flex;
  width: 80%;
  margin: 5%;
  color: white;
}
.about-description {
  margin-left: 10%;
}
h2 {
  margin-top: 0;
  font-size: 48px;
  font-weight: 700;
}
p {
  font-size: 16px;
  color: #d4d4d4;
  font-weight: 400;
  line-height: 30px;
}
.about-me button {
  margin: 5% 0;
}
.somewhatbtn {
  color: #ffb742;
  font-size: 20px;
  font-weight: 600;
  width: 120px;
  padding: 6px 25px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  text-align: center;
}
.skills-container {
  grid-template-columns: 1fr 1fr;
  display: grid;
  color: white;
  width: 80%;
  margin: 0 5%;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #383e45;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  margin: 15px;
}
.skill-icons {
  margin-left: 10%;
}
.row {
  display: flex;
  justify-content: space-around;
}
.box:hover{
    background:#FFB74280;
}
.skills button{
    margin: 5% 0;
}
.featured-works{
    text-align: center;
    color:white;
}
.featured-works .somewhatbtn{
    margin:5% auto 0 auto;
}
.featured-works h2{
    margin-bottom:2%;
}
.featured-works ul{
    justify-content: center;
    font-size:16px;
    line-height:30px;
    font-weight: 600;
}
.featured-works li{
    margin-bottom:1%;
}
.featured-works li:hover{
    color:#212529;
    background: #FFB742;
    border-radius:3px;
    padding:5px 20px;
}
.works{
  display:flex;
  justify-content: space-evenly;
  /* could be display:grid grid-template-columns: repeat(3,1fr) */
  width:80%;
  margin:0 10%;
}
.works-block{ 
  margin:0 5%;
}
.works img{
  margin-bottom:30px;
  width:100%;
}
.testimonials{
  text-align: center;
  color:white;
  margin-bottom:5%;
}
.testimonials .somewhatbtn{
  margin:5% auto 0 auto;
  width:140px;
}
.test-cards{
  margin:5% 10%;
  display:flex;
  width:80%;
  justify-content: space-evenly;
}
.test-card{
  margin: 0 5%;
}
.test-cards img{
  width:100%;
}
footer{
  margin-top:10%;
  background-color: #1C1C1C;
  display:flex;
  justify-content: space-between;
  padding:5% 2%;
}
footer .name{
  font-size:32px;
}
footer h3{
  color:#F5FBF2;
}
footer ul{
  flex-direction: column;
  padding:0;
}
footer li{
  padding:0;
  color:#7B7B7B;
}
.newsettler p{
  color:#7B7B7B;
  font-size:18px;
}
footer div:first-child{
  margin-left:5%;
}
footer div:last-child{
  margin-right:5%;
}